@{
    ViewData["Title"] = "HomeWork2";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HomeWork2</h1>
    <p>Also you can look at my <a href="https://github.com/ihor-tereschenko/AppVeyorExample">AppVeyorExample</a>.</p>
</div>

@section Scripts{
    <h1 class="display-4">Main section</h1>
}
